---
layout: default
---
<div class="home">
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">

  <img src="{{prepend: site.baseurl}}/assets/home_logo.png" alt="{{ site.title }}" width="300px!important" height="94px!important">

    <header class="site-header">
  {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
</header>
</div>
</div>

<div class="wrapper_home">
<p>
  We're new here, bear with us whilst we get things setup.
<br/>
  In the mean time if you have any issues, please file them at our GitHub page <a href="https://github.com/CoreELEC/CoreELEC/issues">here</a>.
</p>

</div>
</div>
